# ======================
# WordPress Theme
# ======================
THEME_NAME=my-theme

# ======================
# Database (Docker Compose)
# リモートの DB バージョンに合わせて変更する
# ======================
MARIADB_VERSION=10.6
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=rootpassword
WORDPRESS_TABLE_PREFIX=eboe_

# ======================
# Remote Server (Wordmove)
# ======================
REMOTE_URL=https://example.com
REMOTE_WP_PATH=/var/www/html
REMOTE_DB_NAME=wp_production
REMOTE_DB_USER=wp_user
REMOTE_DB_PASSWORD=
REMOTE_DB_HOST=localhost

# ======================
# Remote SSH (Wordmove)
# ======================
REMOTE_SSH_HOST=v2002.coreserver.jp
REMOTE_SSH_USER=telepathy
REMOTE_SSH_PORT=22

# ======================
# SSH Key (Wordmove)
# ======================
SSH_KEY_PATH=~/.ssh/id_rsa
