# Environment
.env

# Dependencies
node_modules/

# Vite build output
theme/dist/

# Wordmove backups
*.sql
*.sql.gz

# Vite dev server
**/dist/hot

# OS
.DS_Store
Thumbs.db

# claude
.claude/
.kiro/
