# Environment
.env

# Dependencies
node_modules/

# WordPress core (theme only in version control)
wordpress/wp-content/uploads/
wordpress/wp-content/plugins/
wordpress/wp-content/themes/my-theme/assets/

# OS
.DS_Store
Thumbs.db
